body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar {
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.nav-link.active {
  font-weight: 700;
  color: #0d6efd !important;
}

footer {
  background: #111;
  color: #fff;
}

footer i {
  font-size: 20px;
  margin-left: 10px;
  color: #fff;
}

footer i:hover {
  color: #0d6efd;
}

.checkout {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
}
